<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-4.0.xsd">
   	
   	
    
    <!-- 静态资源解析 包括：js\img\css 等 
    	   针对 RESTful风格对前端控制器配置成 “/”，对静态资源解析产生的问题 -->
<!--    <mvc:resources location="/js/" mapping="/js/**"/> -->
<!--    <mvc:resources location="/css/" mapping="/css/**"/> -->
<!-- 	<mvc:resources location="/img/" mapping="/img/**"/> -->
<!-- 	<mvc:resources location="/html/extjs_trial6.0/" mapping="/html/extjs_trial6.0/**"/> -->
<!-- 	<mvc:resources location="/html/extjs4.2.1/" mapping="/html/extjs4.2.1/**"/>     -->
<!--    <mvc:resources location="/html/JQuery/" mapping="/html/JQuery/**"/>  -->
    <mvc:resources location="/html/mydesktop/" mapping="/html/mydesktop/**"/>
    
   	<!--视图解析器 <property name="prefix" value="/html/"/> -->
   	<bean
   		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
   	</bean>	
   	
   	
   	<!-- 拦截器  "/**" 拦截所有请求，包括子请求-->
<!--    	<mvc:interceptors> -->
<!--    		<mvc:interceptor> -->
<!--    			<mvc:mapping path="/**"/> -->
<!--    			<bean class="com.leoProject.main.interceptor.interceptorForLogin"></bean> -->
<!--    		</mvc:interceptor> -->
<!--    	</mvc:interceptors> -->
   	
</beans>