<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<beans:bean id="authenticationProvider"
		class="net.shopin.login.service.MyAuthenticationProvider" />
	<beans:bean id="authenticationManager"
		class="net.shopin.login.service.MyAuthenticationManager">
		<beans:constructor-arg index="0"
			ref="authenticationProvider" />
	</beans:bean>
	<beans:bean id="accessDecisionManager"
		class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:constructor-arg index="0">
			<beans:list>
				<beans:bean class="net.shopin.login.service.PrivilegeVoter" />
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>
	
	<http use-expressions="true" authentication-manager-ref="authenticationManager">
		<!-- <intercept-url pattern="/html/**" access="hasAnyAuthority('PRI_ALL')" /> -->
		<intercept-url pattern="/html/notepad/**" access="hasAnyAuthority('PRI_READ_AND_WRITE')"/>
		<!-- login-page表示用户登陆时显示我们自定义的login.jsp
			 authentication-failure-url表示用户登陆失败时，跳转到哪个页面
			 default-target-url表示登陆成功时，跳转到哪个页面
			 login-processing-url是自定义登陆页面的action，切勿与controller的action相同-->
		<form-login authentication-failure-url="/html/mydesktop/erLogin.html?error=true"
			default-target-url="/html/mydesktop/login.html" login-page="/login.jsp"
			login-processing-url="/login_check.html" password-parameter="password"
			username-parameter="username" always-use-default-target="true" />
		<logout logout-success-url="/html/mydesktop/reLogin.html" logout-url="/logout.html" />
		<access-denied-handler error-page="/html/mydesktop/erLogin.html?deny=true"/>
	</http>

</beans:beans>
